
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: hsl(193, 90%, 61%);
    color: white;
    text-align: center;
    padding: 10px;
}

.Hombres {
    background-color: rgb(198, 241, 184);
    color: white;
    text-align: left;
    padding: 10px;
}

.Mujeres {
    background-color: rgb(239, 172, 243);
    color: white;
    text-align: left;
    padding: 10px;
}
.noticia {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}
.titulo {
    font-size: 1.5em;
}
.fecha {
    color: #666;
}
.contenido {
    margin-top: 10px;
}

/* img {
    width: 55px; /* Ajusta el ancho según tus necesidades */
    /*height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    /*position: absolute;
    top: 2px; /* Ajusta la distancia desde la parte superior */
    /*right: 5px; /* Ajusta la distancia desde la derecha */
     /* } */

h1 {
    width: auto;
    margin: 0;
    text-align: left; /* Alineación por defecto */
}

@media (max-width: 768px) {
    h1 {
        text-align: left; /* Alineación a la izquierda en pantallas móviles */
        padding-left: 10px; /* Agregar espacio desde el borde izquierdo */
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 150px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}
.logo:last-child {
    margin-right: 0;
}

h2 {
    width: auto;
    margin: 0;
    text-align: left; /* Alineación por defecto */
}

@media (max-width: 768px) {
    h2 {
        text-align: left; /* Alineación a la izquierda en pantallas móviles */
        padding-left: 10px; /* Agregar espacio desde el borde izquierdo */
    }
}